/* =============================================
table of contents
=============================================

1. Header Design
2. Button & icons
3. Model & PopUp
4.Responsive Design (Media Query) */



/* =========================
1. Header Design 
========================= */
header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
    align-items: center;
}

header.flex nav {
    background-color: var(--bg-header);
    padding: 0.77rem 1.6rem;
    box-shadow: 1px 1px 40px #2323242a;
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
}

header ul.flex {
    gap: 16px;
    margin: 0;
    padding: 1px 0px;
}

header ul li a {
    color: var(--title-color);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
}

header ul li a:hover {
    opacity: 1;
    color: var(--blue);
    font-size: 0.9rem;
}
/* =========================
1. Button & icons
========================= */

header button {
    font-size: 1.2rem;
}

header button.menu {
    display: none;
}

.moon,
.menu {
    width: 2.4rem;
    height: 2.4rem;
    color: white;
    text-align: center;
    justify-content: center;
    background-color: var(--bg-header);
    border: 1px solid rgba(244, 165, 96, 0.249);
    transition: 0.2s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}


.menu .menu-bars:hover,
.moon-bar:hover {
    border-color: rgba(244, 165, 96);
}

/* Model PopUp */
header .fixed {
    position: fixed;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    inset: 0;
    z-index: 10;
    background-color: rgba(40, 40, 48, 0.91);
}

header .fixed ul.model {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--bg-secondary);
    animation: zoomout 0.7s 1;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-animation: zoomout 0.7s 1;
}

header .fixed ul.model li {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}

header .fixed ul.model li:first-child {
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: 0.2rem;
    margin-bottom: -1rem;
}

.close {
    border: none;
}

.close .x-bar {
    color: white;
    font-size: 1.5rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.close .x-bar:hover {
    font-size: 1.7rem;
    color: crimson;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

header .fixed ul.model li a {
    font-size: 1rem;
}

header .fixed ul.model li:last-child {
    border: none;
}

/* =========================
4. Responsive Design (Media Query)
========================= */

@media (max-width: 700px) {
    header.flex nav {
        display: none;
        
    }
    
    header button.menu {
        display: block;
    }
}

/* Animation */
@keyframes zoomout {
    0% {
        scale: 0;
    }
    60% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}